login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
  }
  
  .card-title {
    border-bottom: 5px solid #ffffff; /* You can adjust the color and thickness as needed */
    text-align: center; /* Optional: Center the underline */
    padding-bottom: 10px; /* Optional: Add some spacing between the header and underline */
    font-weight: bolder;
  }
  .auth-card {
    border-radius: 34px;
  }
  
  body {
    font-family: "Chakra Petch", sans-serif;
    font-weight: bold;
    /* background-color: #454545; */
  }
  
  .navbar {
    height: 4.5rem;
    /* background:  linear-gradient(to right, #bdc3c7, #2c3e50);; */
    background-color: lightseagreen;
    z-index: 1000;
  }
  
  .frame {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    background-color: #ffffff;
  }
  
  .frame-content {
    display: flex;
    height: 600px;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);
  }
  .desc {
    position: relative;
    left: -12px;
    width: 30%;
    height: 100%;
    background-color: lightseagreen;
  }
  .title {
    height: 60px;
    background-color: lightseagreen;
    width: 100%;
  }
  .title h2 {
    position: relative;
    left: 80px;
    top: 10px;
  }
  .desc img {
    position: absolute;
    height: 30%;
    width: 87%;
    left: 6.2%;
  }
  
  .close-flex img {
    height: 40px;
    width: 40px;
    position: relative;
    left: 34rem;
    top: 0.3rem;
  }
  .rules {
    color: white;
    width: 70%;
  }
  .scrollable-rules {
    max-height: 80vh;
    overflow: hidden;
    position: relative; /* Establishes a containing block for absolute positioning */
    padding-right: 20px; /* Add padding to prevent content from being too close to the edge */
  }
  
  .scrollable-rules .description {
    position: absolute;
    top: 0;
    left: 0;
    right: -20px; /* Compensate for the hidden scrollbar */
    overflow-y: auto;
    max-height: 100%;
    padding-right: 20px; /* Add padding to prevent content from being too close to the edge */
  }
  .show {
    display: flex
  }
  
  .hide {
    display: none;
  }
  .close-flex {
    display: flex;
  }
  
  .details ul {
    position: relative;
    top: 203px;
    font-weight: bold;
  }
  
  .rules h2 {
    font-size: 1.7rem;
    color: lightseagreen;
    font-weight: bold;
  }
  
  .btn {
    background-color: rgba(249, 150, 51, 0.982);
  }
  .container-fluid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .navigate,
  .links,
  .reach-us {
    flex: 1;
    background: black;
    color: white;
    padding: 20px; /* Adjust the padding as needed */
  }
  
  .card-footer {
    width: 100%;
    background-color: black;
    color: white;
  }
  
  
  .list-group-item {
    background-color: black;
    color: white;
  }
  
  .footer-icon {
    font-size: 24px;
  }
  
  .icons .footer-icon {
    margin-right: 16px;
  }
  
  .event-icon {
    font-size: 24px;
    margin-bottom: 8px;
  }
  
  
  .card-header {
    border-bottom: 2px solid #fff; /* You can adjust the color and thickness as needed */
    text-align: center; /* Optional: Center the underline */
    margin-bottom: 16px; /* Optional: Add some spacing between the header and underline */
  }
  
  .button-3 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: lightseagreen;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-3:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
  
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-3 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowing-button-3 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .button-3:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background:black;
    left: 0;
    top: 0;
    border-radius: 10px;
  }
  
  
  @media (max-width: 980px) {
    .small-screen {
      background-color: lightseagreen;
      padding: 10px;
      margin: 4px;
      width: 50%;
      position: absolute;
      top: 10vh;
      border-radius: 24px;
    }
    .nav-item {
      border-bottom: 2px solid black;
    }
  }
  
  @media (max-width:600px){
    .frame-content{
      display: block;
      
    }
  }

.card{
  border: 2px solid black;
  margin-top: 4vw;
}
.card img{
  width: 284.8px;
  height: 189.51px;
}